<h1>Friends list</h1>
<div class="add-friend">
  <input type="text" [(ngModel)]="newFriend" placeholder="Friend name" />
  <button (click)="addFriend()">Add friend</button>
</div>
<div class="favorite">
  <p>My favorite person is: {{ favorite }}</p>
  <ul>
    <li *ngFor="let f of faves"  >
{{ f }}
    </li>
  </ul>
</div>
<div class="people">
  <app-people
    *ngFor="let person of people"
    [name]="person"
    (addFaves)="addFaves ($event)"
    (favorite)="favorite = $event"></app-people>
  <!-- Add your people component here -->
</div>
